{{#ivy-tabs}}
  {{#ivy-tab-list}}
    {{#ivy-tab}}(This is an unstyled tab! Click me) Account Information{{/ivy-tab}}
    {{#ivy-tab}}(Unstyled tab) Demographic Survey{{/ivy-tab}}
    {{#ivy-tab}}(Unstyled tab) Children Information{{/ivy-tab}}
    {{#ivy-tab}}(Unstyled tab) Email Preferences{{/ivy-tab}}
  {{/ivy-tab-list}}

<!--Account information tab-->
{{#ivy-tab-panel}}
    <p>Name: {{input type="text" id="new-accountName" placeholder="Name" value=newAccountName action="editAccount"}}</p>
    <p>Email: {{input type="text" id="new-accountEmail" placeholder="Email" value=newAccountEmail action="editAccount"}}</p>
<button {{action 'editAccount'}}>Save</button>
<!--There will eventually be further content for changing password-->
<p>(Password change content coming soon)</p>
{{/ivy-tab-panel}}

<!--Demographic survey tab-->
{{#ivy-tab-panel}}
    <h2>Demographics</h2>
{{/ivy-tab-panel}}

<!--    Participants tab-->
{{#ivy-tab-panel}}
    
{{#cp-panels accordion=true}}

    {{#each model as |participant|}}

      {{#cp-panel}}
        {{#cp-panel-toggle}}
          <p>(Unstyled panel) {{participant.firstName}}</p>
        {{/cp-panel-toggle}}
        {{#cp-panel-body}}
          <div>
            <p>Name: {{participant.firstName}} {{participant.lastName}}</p>
            <p>Birthday: {{participant.birthday}}</p>
            <p>Gender: {{participant.gender}}</p>
            <p>Gestational Age at Birth: {{participant.gestationalAgeAtBirth}}</p>
<!--              <p>Account owner: {{participant.account.name}}</p>-->
          </div>
        {{/cp-panel-body}}
      {{/cp-panel}}

    {{/each}}

    {{/cp-panels}}

{{#cp-panels accordion=true}}

    {{#cp-panel}}
        {{#cp-panel-toggle}}
          <p>(This is an unstyled panel) Add another child</p>
        {{/cp-panel-toggle}}
        {{#cp-panel-body}}
          <div>
            <p>Child's name:</p>
    {{input type="text" id="new-firstname" placeholder="First Name" value=newFirstName action="createParticipant"}}

    {{input type="text" id="new-lastname" placeholder="Last Name" value=newLastName action="createParticipant"}}

    <p>Date of Birth:</p>
    {{input type="text" id="new-birthday" placeholder="MM/DD/YYYY" value=newBirthday action="createParticipant"}}

    <p>Gender:</p>
    {{view "select" content=genders value=selectedGender}}

    <p>Gestational age at birth:</p>
    {{view "select" content=gestationalAges value=selectedGestationalAge}}

    <br><br>

    <button {{action 'createParticipant'}}>Create Participant</button>
          </div>
        {{/cp-panel-body}}
      {{/cp-panel}}

{{/cp-panels}}
    

{{/ivy-tab-panel}}

{{#ivy-tab-panel}}
    <h2>Tab 4 content</h2>
{{/ivy-tab-panel}}

{{/ivy-tabs}}



