<h3>Create a new participant: Please enter the following information about your child</h3>

<p>First and last name:</p>
{{input type="text" id="new-firstname" placeholder="First Name" value=newFirstName action="createParticipant"}}

{{input type="text" id="new-lastname" placeholder="Last Name" value=newLastName action="createParticipant"}}

<p>Gender:</p>
{{view "select" content=genders value=selectedGender}}

<p>Gestational age at birth:</p>
{{view "select" content=gestationalAges value=selectedGestationalAge}}

<br><br>

<button {{action 'createParticipant'}}>Create Participant</button>

<h3>Current participants:</h3>
{{#each model as |participant|}}
    <p>Name: {{participant.firstName}} {{participant.lastName}}</p>
    <p>Gender: {{participant.gender}}</p>
    <p>Gestational Age at Birth: {{participant.gestationalAgeAtBirth}}</p>
    <br>
{{/each}}