<h3>Current participants:</h3>

{{#cp-panels accordion=true}}

{{#each model as |participant|}}

  {{#cp-panel}}
    {{#cp-panel-toggle}}
      <p>{{participant.firstName}}</p>
    {{/cp-panel-toggle}}
    {{#cp-panel-body}}
      <div>
        <p>Name: {{participant.firstName}} {{participant.lastName}}</p>
        <p>Birthday: {{participant.birthday}}</p>
        <p>Gender: {{participant.gender}}</p>
        <p>Gestational Age at Birth: {{participant.gestationalAgeAtBirth}}</p>
      </div>
    {{/cp-panel-body}}
  {{/cp-panel}}

{{/each}}

{{/cp-panels}}

{{#cp-panels accordion=true}}

{{#cp-panel}}
    {{#cp-panel-toggle}}
      <p>Add another child</p>
    {{/cp-panel-toggle}}
    {{#cp-panel-body}}
      <div>
        <p>Child's name:</p>
{{input type="text" id="new-firstname" placeholder="First Name" value=newFirstName action="createParticipant"}}

{{input type="text" id="new-lastname" placeholder="Last Name" value=newLastName action="createParticipant"}}

<p>Date of Birth:</p>
{{input type="text" id="new-birthday" placeholder="MM/DD/YYYY" value=newBirthday action="createParticipant"}}

<p>Gender:</p>
{{view "select" content=genders value=selectedGender}}

<p>Gestational age at birth:</p>
{{view "select" content=gestationalAges value=selectedGestationalAge}}

<br><br>

<button {{action 'createParticipant'}}>Create Participant</button>
      </div>
    {{/cp-panel-body}}
  {{/cp-panel}}

{{/cp-panels}}

